<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>register</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/css/post.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/task.css" rel="stylesheet">

    <style>

        .background-radial-gradient {
            background-color: hsl(218, 41%, 15%);
            background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
            radial-gradient(1250px circle at 100% 100%,
                    hsl(218, 41%, 45%) 15%,
                    hsl(218, 41%, 30%) 35%,
                    hsl(218, 41%, 20%) 75%,
                    hsl(218, 41%, 19%) 80%,
                    transparent 100%);
            height: 100vh;
            margin-top: 10vh;
        }

        #radius-shape-1 {
            height: 220px;
            width: 220px;
            top: -60px;
            left: -130px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
            margin-top: 15em;
        }

        #radius-shape-2 {
            border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
            bottom: -50px;
            right: -400px;
            width: 300px;
            height: 300px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
            margin-top: 2em;
        }

        .bg-glass {
            background-color: hsla(0, 10%, 6%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
        }





    </style>


    <!-- =======================================================
    * Template Name: PhotoFolio - v1.2.0
    * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>








<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <br>
            <br>
            <br>
            <br>

        </div>

        <div id="userProfilePic" class="avatar avatar-lg">


            <div class="" style="margin-left:5em " >
                <img class="avatar-img  border  border-3 ms"
                     th:src="${user.profilePhoto}" alt="" style="width: 5em; height: 5em;">
            </div>
            <div class="" style="margin-left:4em ">
                <h5 class="p-2 mx-auto" th:text="${user.firstName}+' '+${user.lastName}" ></h5>
            </div>
            <hr>

        </div>

        <ul class="list-unstyled components">
            <li><a href="/task" class="active">Home</a></li>

            <li><a href="/profile">Profile</a></li>

            <li><a href="/about">About</a></li>


            <li>
                <a th:href="@{/showTaskForm}">Create Task</a>
            </li>

            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sort by category</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a th:href="@{/category/{category}(category= Work)}">Work</a>
                    </li>
                    <li>
                        <a th:href="@{/category/{category}(category= Chores)}">Chores</a>
                    </li>
                    <li>
                        <a th:href="@{/category/{category}(category= Academic)}">Academic</a>
                    </li>

                    <li>
                        <a th:href="@{/category/{category}(category= Finance)}">Finance</a>
                    </li>

                    <li>
                        <a th:href="@{/category/{category}(category= Health)}">Health</a>
                    </li>

                    <li>
                        <a th:href="@{/category/{category}(category= Misc)}">Misc</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sort by status</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a th:href="@{/status/{status}(status= scheduled)}">Scheduled</a>
                    </li>
                    <li>
                        <a th:href="@{/status/{status}(status= completed)}">Completed</a>
                    </li>
                    <li>
                        <a th:href="@{/status/{status}(status= pending)}">Pending</a>
                    </li>
                </ul>
            </li>


        </ul>

        <ul>
            <!-- More links here... -->
            <li class="text-white" style="list-style: none">
                <form class="ms-0" th:action="@{/logout}" th:method="post">
                    <button class="btn btn-outline-light" style="margin: 10px 0 0 3em; ">Logout</button>
                </form>
            </li>
        </ul>


    </nav>



    <!-- Page Content -->
    <div id="content" style="height: 100%">




        <!-- ======= Header ======= -->
        <header id="header" class="header d-flex align-items-center fixed-top">
            <div class="container-fluid d-flex align-items-center justify-content-between">

                <a href="/task" class="logo d-flex align-items-center  me-auto me-lg-0">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <!-- <img src="/img/logo.png" alt=""> -->
                    <i class="bi bi-journals"></i>
                    <h1>MyTask</h1>
                </a>

                <div class="text-center mx-auto me-sm-auto">

                    <button type="button" id="sidebarCollapse" class="btn btn-outline-light">
                        <i class="bi bi-blockquote-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>



            </div>
        </header><!-- End Header -->


        <main id="main" data-aos="fade" data-aos-delay="1500" style="height: 100%">

            <!-- ======= End Page Header ======= -->

            <!-- Section: Design Block -->
            <section class="background-radial-gradient overflow-hidden" style="height: 100%">


                <div class="container-fluid" style="height: 100%">

                        <div class="col-lg-6 mb-5 mb-lg-0 position-relative" style="height: 100%">
                            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong" ></div>
                            <div id="radius-shape-2" class="position-absolute shadow-5-strong" style=""></div>


                            <!--        ************Start of card section************-->
                            <div class="grey-bg mt-1 mx-auto" style="z-index: auto; width: 80vw; height: 1500px">



                                    <div  class="row w-100 g-1 justify-content-evenly mt-1" style="height: 100vh">

                                        <div class="alert alert-danger m-3" role="alert" th:text="${notask}" th:if="${notask}"></div>


                                        <div th:each="task:${tasks}" class="card text-center col-lg-5 col-md-5 col-sm-12 col-xs-12 mx-1 my-1" style="height: 22em">
                                            <div class="card-header bg-glass">
                                                <h5 style="color: hsl(97,86%,36%)" th:if="${task.isCompleted() == true}" th:text="Completed"></h5>
                                                <h5 style="color: hsl(52,78%,67%)" th:if="${task.isScheduled() == true}" th:text="Scheduled"></h5>
                                                <h5 style="color: hsl(345,92%,63%)" th:if="${task.isScheduled() == false} and ${task.isCompleted() == false}" th:text="Pending"></h5>
                                            </div>
                                            <div class="card-body">
                                                <h3 th:if="${task.isCompleted() == true}" th:text="${task.getName()}" class="text-decoration-line-through"></h3>
                                                <h3 th:if="${task.isCompleted() == false}" th:text="${task.getName()}"></h3>

                                                <p th:if="${task.isCompleted() == true}"  class="text-decoration-line-through">Category: <span style="color: hsl(218, 81%, 75%)" th:text="${task.getCategory().getName()}"></span></p>
                                                <p th:if="${task.isCompleted() == false}">Category: <span style="color: hsl(218, 81%, 75%)" th:text="${task.getCategory().getName()}"></span></p>

                                                <p th:if="${task.isCompleted() == true}" th:text="${task.getDescription()}" class="text-decoration-line-through"></p>
                                                <p th:if="${task.isCompleted() == false}" th:text="${task.getDescription()}"></p>

                                                <div class="text-decoration-line-through" th:if="${task.isCompleted() == true}">
                                                    <p >Created on: <span style="color: hsl(52,86%,57%)" th:text="${task.getDateCreated()}"></span></p>
                                                </div>

                                                <div th:if="${task.isCompleted() == false}">
                                                    <p >Created on: <span style="color: hsl(52,86%,57%)" th:text="${task.getDateCreated()}"></span></p>
                                                </div>



                                            <div th:if="${task.isScheduled() == true}">
                                                <p >Due on: <span style="color: hsl(52,86%,57%)" th:text="${task.getDueDate()}"></span></p>
                                            </div>

<!--                         **********************************                   -->


                                            <div class="action row ">
                                              <div th:if="${task.isCompleted() == false}" class="col">
                                                  <a th:href="@{/updateTask/{id}(id=${task.id})}" class="btn btn-outline-light">Update</a>
                                              </div>
                                               <div class="col ">
                                                   <a onclick="return confirm('Are you sure you want delete?')"
                                                      th:href="@{/deleteTask/{id}(id=${task.id})}"
                                                      class="btn btn-outline-danger"><i class="icon_close_alt2"></i>Delete</a>

                                               </div>



                                               <div th:if="${task.isScheduled() == false} and ${task.isCompleted() == false}" class="col ">
                                                   <a th:href="@{/scheduleTask/{id}(id=${task.id})}" class="btn btn-outline-light">Schedule</a>

                                               </div>

                                                <div th:if="${task.isCompleted() == false}" class="col ">
                                                    <a th:href="@{/completeTask/{id}(id=${task.id})}" class="btn btn-outline-light">Complete</a>

                                                </div>

                                            </div>
                                            </div>
<!--                       ******************************************                     -->

                                            <div class="card-footer text-muted ">

                                                <div th:if="${task.isCompleted() == true}" class="progress mt-1 mb-0 " style="height: 7px;">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>

                                                <div th:if="${task.isScheduled() == true}" class="progress mt-1 mb-0 " style="height: 7px;">
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>

                                                <div th:if="${task.isScheduled() == false} and ${task.isCompleted() == false}" class="progress mt-1 mb-0" style="height: 7px;">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>

                                            </div>
                                        </div>


                                    </div>






                            </div>


                            <!--*****************End of card section******************--->





                        </div>
                    </div>

            </section>
            <!-- Section: Design Block -->


        </main><!-- End #main -->


        <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <div id="preloader">
            <div class="line"></div>
        </div>










    </div>
</div>



<!-- Vendor JS Files -->


<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>




<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>



<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<script src="/js/task.js"></script>


</body>

</html>